<?= $this->doctype() ?>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <?= $this->headTitle('Pob')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?= $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
            ->appendName('format-detection', 'telephone=no')
            ->appendName('apple-mobile-web-app-capable', 'yes')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?= $this->headLink(['rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'])
//            ->appendStylesheet($this->basePath('css/bootstrap-4.3.1.min.css'))
            ->appendStylesheet('http://fonts.googleapis.com/css?family=Hind:400,300,500,600%7cMontserrat:400,700')
            ->appendStylesheet($this->basePath('assets/css/lib/font-awesome.min.css'))
            ->appendStylesheet($this->basePath('assets/css/lib/font-lotusicon.css'))
            ->appendStylesheet($this->basePath('assets/css/lib/bootstrap.min.css'))
            ->appendStylesheet($this->basePath('assets/css/lib/owl.carousel.css'))
            ->appendStylesheet($this->basePath('assets/css/lib/jquery-ui.min.css'))
            ->appendStylesheet($this->basePath('assets/css/lib/magnific-popup.css'))
            ->appendStylesheet($this->basePath('assets/css/lib/settings.css'))
            ->appendStylesheet($this->basePath('assets/css/lib/bootstrap-select.min.css'))
            ->appendStylesheet($this->basePath('assets/css/style.css'))
//            ->prependStylesheet($this->basePath('css/bootstrap.min.css'))

        ?>


        <!-- Scripts -->
        <?= $this->inlineScript()
            ->appendFile($this->basePath('js/jquery-3.4.1.min.js'))
//            ->appendFile($this->basePath('js/bootstrap.min.js'))
            ->appendFile($this->basePath('assets/js/popper.min.js'))
        ?>
        
        <style>
            .bgHotel {
                background-image: url(assets/images/bg.jpg);
            }
        </style>
    </head>
    <!--[if IE 7]> <body class="ie7 lt-ie8 lt-ie9 lt-ie10"> <![endif]-->
    <!--[if IE 8]> <body class="ie8 lt-ie9 lt-ie10"> <![endif]-->
    <!--[if IE 9]> <body class="ie9 lt-ie10"> <![endif]-->
    <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


        <!-- PRELOADER -->
        <div id="preloader">
            <span class="preloader-dot"></span>
        </div>
        <!-- END / PRELOADER -->

        <!-- PAGE WRAP -->
        <div id="page-wrap">

            <!-- HEADER -->
            <header id="header">

                <!-- HEADER TOP -->
                <div class="header_top">
                    <div class="container">
                        <div class="header_left float-left">
                            <span><i class="lotus-icon-location"></i>Error</span>
                            <span><i class="lotus-icon-phone"></i> Error</span>
                        </div>
                        <div class="header_right float-right">
                        </div>
                    </div>
                </div>
                <!-- END / HEADER TOP -->

                <!-- HEADER LOGO & MENU -->
                <div class="header_content" id="header_content">

                    <div class="container">
                        <!-- HEADER LOGO -->
                        <div class="header_logo">
                            <a href="<?= $this->url('home') ?>"><img src="<?=(!empty($this->layout()->hotelInfo->logo))? $this->layout()->hotelInfo->logo : 'assets/images/hotel-logo.svg';?>" style="height: 53px;" alt="hotel logo"></a>
                        </div>
                        <!-- END / HEADER LOGO -->

                        <!-- HEADER MENU -->
                        <nav class="header_menu">
                            <ul class="menu">
                                <li class="current-menu-item">
                                    <a href="">Phòng</a>
                                </li>
                                <li>
                                    <a rel="#1" id="">Tìm Booking</a>
                                </li>
                            </ul>
                        </nav>
                        <!-- END / HEADER MENU -->

                        <!-- MENU BAR -->
                        <span class="menu-bars">
                            <span></span>
                        </span>
                        <!-- END / MENU BAR -->

                    </div>
                </div>
                <!-- END / HEADER LOGO & MENU -->

            </header>
            <!-- END / HEADER -->

            <!-- SUB BANNER -->
            <section class="section-sub-banner bgHotel">

                <div class="awe-overlay"></div>

                <div class="sub-banner">
                    <div class="container">
                        <div class="text text-center">
                            <h2>404 ERROR !</h2>
                        </div>
                    </div>

                </div>

            </section>
            <!-- END / SUB BANNER -->

            <!-- FOOTER -->
            <footer id="footer">
                <!-- FOOTER BOTTOM -->
                <div class="footer_bottom">
                    <div class="container">
                        <p>&copy; <?=date('Y')?> All Rights Reserved.</p>
                    </div>
                </div>
                <!-- END / FOOTER BOTTOM -->

            </footer>
            <!-- END / FOOTER -->

        </div>
        <!-- END / PAGE WRAP -->


        <!-- LOAD JQUERY -->

        <script>
        var root_url = '<?=$this->serverUrl()?>/';
        </script>
        
        <!-- Scripts -->
        <?= $this->inlineScript()
            ->appendFile($this->basePath('assets/js/lib/jquery-1.11.0.min.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery-ui.min.js'))
            ->appendFile($this->basePath('assets/js/lib/bootstrap.min.js'))
            ->appendFile($this->basePath('assets/js/lib/bootstrap-select.js'))
            ->appendFile($this->basePath('assets/js/lib/isotope.pkgd.min.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.themepunch.revolution.min.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.themepunch.tools.min.js'))
            ->appendFile($this->basePath('assets/js/lib/owl.carousel.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.appear.min.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.countTo.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.countdown.min.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.parallax-1.1.3.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.magnific-popup.min.js'))
            ->appendFile($this->basePath('assets/js/lib/SmoothScroll.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.form.min.js'))
            ->appendFile($this->basePath('assets/js/lib/jquery.validate.min.js'))
            ->appendFile($this->basePath('assets/js/scripts.js'))
            ->appendFile($this->basePath('assets/js/hus.js'))
            ->appendFile($this->basePath('assets/js/jquery.serializejson.min.js'))
            ->appendFile($this->basePath('assets/js/home.js'))
        ?>

    </body>

</html>
