<div class="reservation-page">
    <div class="row">
        <!-- SIDEBAR -->
        <div class="col-md-4 col-lg-3">

            <div class="reservation-sidebar">
                <!-- RESERVATION DATE -->
                <div class="reservation-date bg-gray">
                    <!-- HEADING -->
                    <h2 class="reservation-heading">Ngày đặt phòng</h2>
                    <!-- END / HEADING -->
                    <ul>
                        <li>
                            <span>Ngày Đến</span>
                            <span><?=$this->roomInfo->dateCheckIn?></span>
                        </li>
                        <li>
                            <span>Ngày Đi</span>
                            <span><?=$this->roomInfo->dateCheckOut?></span>
                        </li>
                        <li>
                            <span>Số Đêm</span>
                            <span><?=$this->roomInfo->totalNights?></span>
                        </li>
                        <li>
                            <span>Số phòng</span>
                            <span><?=$this->roomInfo->totalRoom?></span>
                        </li>
                        <li>
                            <span>Số Khách</span>
                            <span><?=$this->roomInfo->totalAdtNum?> Người lớn <?=$this->roomInfo->totalChdNum?> Trẻ em</span>
                        </li>
                    </ul>
                </div>
                <!-- END / RESERVATION DATE -->
                <!-- ROOM SELECT -->
                <div class="reservation-room-selected bg-gray">
                    <!-- HEADING -->
                    <h2 class="reservation-heading">Chi Tiết Đặt Phòng</h2>
                    <!-- END / HEADING -->
                    <!-- ITEM -->
                    <div class="reservation-room-seleted_item">
                        <div class="reservation-room-seleted_name has-package">
                            <h2><a href="#"><?=$this->roomInfo->roomName?></a></h2>
                        </div>
                        <div class="reservation-room-seleted_package">
                            <ul>
                                <li>
                                    <span>Phụ thu</span>
                                    <span><?=formatNumber($this->roomInfo->priceInformation->compulsory)?></span>
                                </li>
                                <li>
                                    <span>Phí trẻ em</span>
                                    <span><?=formatNumber($this->roomInfo->priceInformation->children)?></span>
                                </li>
                                <li>
                                    <span>Giá dịch vụ</span>
                                    <span><?=formatNumber($this->roomInfo->priceInformation->surcharge)?></span>
                                </li>
                                <li>
                                    <span>Extra Bed</span>
                                    <span><?=formatNumber($this->roomInfo->priceInformation->extraBed)?></span>
                                </li>
                            </ul>

                        </div>

                        <div class="reservation-room-seleted_total-room">
                            Giá Phòng
                            <span class="reservation-amout"><?=formatNumber($this->roomInfo->priceInformation->rate)?></span>
                        </div>

                    </div>
                    <!-- END / ITEM -->

                    <!-- TOTAL -->
                    <div class="reservation-room-seleted_total bg-blue">
                        <label>Tổng</label>
                        <span class="reservation-total"><?=formatNumber($this->roomInfo->rateInfo->total)?></span>
                    </div>
                    <!-- END / TOTAL -->

                </div>
                <!-- END / ROOM SELECT -->

            </div>

        </div>
        <!-- END / SIDEBAR -->
        <!-- CONTENT -->
        <div class="col-md-8 col-lg-9">
            <div class="reservation_content">
                <div class="reservation-billing-detail">
                    <h4>Thông Tin Khách Đặt Phòng</h4>
                    <form id='guestForm'>
                        <h5><b>Thông tin người đặt phòng</b></h5>
                        <span class="box-border"></span>

                        <div class="row">
                            <div class="col-sm-2">
                                <div class="">
                                    <label>Danh xưng</label>
                                    <select name="booker[title]" class="awe-select">
                                        <option value="Mr">Ông</option>
                                        <option value="Mrs">Bà</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="check_availability-field">
                                    <label>Giới tính</label>
                                    <select name="booker[gender]" class="awe-select">
                                        <option value="0">Nam</option>
                                        <option value="1">Nữ</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>First Name<sup>*</sup></label>
                                <input name="booker[firstName]" type="text" class="input-text" required>
                                <div class="invalid-feedback">Invalid First Name</div>
                            </div>
                            <div class="col-sm-4">
                                <label>Last Name<sup>*</sup></label>
                                <input name="booker[lastName]" type="text" class="input-text" required>
                                <div class="invalid-feedback">Invalid Last Name</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Email<sup>*</sup></label>
                                <input name="booker[email]" type="email" class="input-text" placeholder="mail@example.com" required>
                                <div class="invalid-feedback">Invalid Email</div>
                            </div>
                         
                            <div class="col-sm-4">
                                <label>Phone<sup>*</sup></label>
                                <input name="booker[phone]" type="number" class="input-text" required>
                                <div class="invalid-feedback">Invalid Phone</div>
                            </div>
                        </div>
                        <input name="booker[country]" type="hidden" value="VN" required>
                        
                      <?php foreach ($this->bookingInfo->rooms as $key => $room): ?>
                        <h5 class="mt-1"><b>Phòng <?= $key + 1 ?></b></h5>
                        <span class="box-border"></span>
                        
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="">
                                    <label>Danh xưng</label>
                                    <select name="rooms[<?=$key?>][roomGuests][][title]" class="awe-select">
                                        <option value="Mr">Ông</option>
                                        <option value="Mrs">Bà</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="check_availability-field">
                                    <label>Giới tính</label>
                                    <select name="rooms[<?=$key?>][roomGuests][][gender]" class="awe-select">
                                        <option value="0">Nữ</option>
                                        <option value="1">Nam</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>First Name<sup>*</sup></label>
                                <input name="rooms[<?=$key?>][roomGuests][][firstName]" type="text" class="input-text" required>
                                <div class="invalid-feedback">Invalid First Name</div>
                            </div>
                            <div class="col-sm-4">
                                <label>Last Name<sup>*</sup></label>
                                <input name="rooms[<?=$key?>][roomGuests][][lastName]" type="text" class="input-text" required>
                                <div class="invalid-feedback">Invalid Last Name</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Email<sup>*</sup></label>
                                <input name="rooms[<?=$key?>][roomGuests][][email]" type="email" class="input-text" placeholder="mail@example.com" required>
                                <div class="invalid-feedback">Invalid Email</div>
                            </div>
                         
                            <div class="col-sm-4">
                                <label>Phone<sup>*</sup></label>
                                <input name="rooms[<?=$key?>][roomGuests][][phone]" type="number" class="input-text" required>
                                <div class="invalid-feedback">Invalid Phone</div>
                            </div>
                            
                            <div class="col-sm-4">
                                <label>Country<sup>*</sup></label>
                                <select id="country" name="rooms[<?=$key?>][roomGuests][][country]" class="input-text" required></select>
                            </div>
                            
                        </div>
                        
                        <!--<input name="rooms[<?=$key?>][roomGuests][][country]" type="hidden" value="VN" required>-->
                        <input name="rooms[<?=$key?>][roomNo]" type="hidden" value="<?= $key + 1 ?>">
                     <?php endforeach; ?>
                       
                      <label>Order Notes</label>
                      <textarea class="input-textarea" name="notes" placeholder="Notes about your order, eg. special notes for delivery"></textarea>
                      
                      <input name="tk" type="hidden" value="<?=$this->roomInfo->token?>">
                    </form>
                    
                    <label class="label-checkbox">
                        <input id="agreement" type="checkbox" class="input-checkbox" value="1" checked>
                        Đồng ý xác nhận điều khoản và điều kiện.
                    </label>
                    <p>Điều khoản và điều kiện</p>
                    <p>Cancellation policy: Any cancellation or modification received within  2 days prior to arrival date will incur the 100% charge. Failure to arrive at hotel will be treated as a No-Show and no refund will be given (Property policy).</p>
                    <p>Children policy: Children under 8 years old sharing bed with parents will be free, maximum 2 child. From 8 year-old, an extra bed is compulsory with additional cost 150.000VND/person/night.</p>
                    <ul>
                        <li>Check in: from 14:00</li>
                        <li>Check out: before 12:00</li>
                        <li>Wifi password:</li>
                        <li>Reception call: press/ấn phím “0”</li>
                    </ul>
                    <p>Điều khoản hủy phòng: Quý khách sẽ bị phạt tiền bằng giá trị 100% đêm nghỉ trong trường hợp hủy phòng trong vòng 02  ngày trước khi đến. Trường hợp không đến nhận phòng sẽ bị phạt toàn bộ giá trị đơn phòng (100% tiền phòng)</p>
                    <p>Trẻ em: Miễn phí cho trẻ dưới 08 tuổi ngủ chung giường sẵn có với bố mẹ (tối đa 02 trẻ/phòng). Từ 8 tuổi trở lên sẽ phụ thu theo giá giường phụ 150.000đ/khách/đêm.</p>

                    <button id="btnPayment" class="btnPayment awe-btn awe-btn-13">Thanh Toán</button>
                </div>
            </div>
        </div>
        <!-- END / CONTENT -->
    </div>
</div>

<?php $this->inlineScript()->prependFile($this->serverUrl('/assets/js/home.js')) ?>