
<div class="reservation-page">
    <div class="row">
        <!-- SIDEBAR -->
        <div class="col-md-4 col-lg-3">
            <div class="reservation-sidebar">
                <!-- SIDEBAR AVAILBBILITY -->
                <div class="reservation-sidebar_availability bg-gray">
                    <!-- HEADING -->
                    <h2 class="reservation-heading">Đặt Phòng</h2>
                    <!-- END / HEADING -->
                    <h6 class="check_availability_title">Ngày Đặt Phòng</h6>

                    <form id="searchForm">
                        <div class="availability-form">
                            <div class="check_availability-field">
                                <label>Ngày Đến</label>
                                <input type="text" name="arrive" class="awe-calendar awe-input from" placeholder="mm/dd/yyyy" value="<?= date('m/d/Y', strtotime(' +1 day')) ?>" readonly required>
                                <div class="invalid-feedback">Ngày đến không hợp lệ</div>
                            </div>

                            <div class="check_availability-field to">
                                <label>Ngày Đi</label>
                                <input type="text" name="departure" class="awe-calendar awe-input to" placeholder="mm/dd/yyyy" value="<?= date('m/d/Y', strtotime(' +2 day')) ?>" readonly required>
                                <div class="invalid-feedback">Ngày đi không hợp lệ</div>
                            </div>

                            <h6 class="check_availability_title">Số Phòng & Khách</h6>

                            <div class="check_availability-field">
                                <label>Phòng</label>
                                <select id="roomNum" class="awe-select">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                            
                            <?php for($i=0; $i<=4; $i++):?>
                            
                              <div class="roomInfo check_availability_group <?=($i!=0)? 'hidden' : '';?>">
                                <span class="label-group">Phòng <?=$i+1?></span>
                                <div class="check_availability-field_group">
                                  <div class="check_availability-field">
                                    <?=($i===0) ? '<label>Người Lớn</label>' : ''?>
                                    <select class="adtInfo awe-select" <?=($i==0)? 'name="rooms[0][adt]"' : '';?>>
                                        <option>1</option>
                                        <option selected>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                    </select>
                                  </div>

                                  <div class="check_availability-field">
                                    <?=($i===0) ? '<label>Trẻ Em</label>' : ''?>
                                    <select class="chdInfo awe-select" <?=($i==0)? 'name="rooms[0][chd]"' : '';?>>
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                  </div>
                                </div>
                              </div>

                            <?php endfor;?>

                        </div>
                    </form>
                    <div class="vailability-submit1">
                        <button id="btnSearch" class="awe-btn awe-btn-13">TÌM KIẾM</button>
                    </div>
                </div>
                <!-- END / SIDEBAR AVAILBBILITY -->
            </div>
        </div>
        <!-- END / SIDEBAR -->
        <!-- CONTENT -->
        <div class="col-md-8 col-lg-9">
            <div class="reservation-room_item">
              <div class="reservation-room_package">
                  <div class="bg-gray" style="padding: 15px 30px;">
                      <a href="javascript:getRooms(1,'rate','DESC')">Giá giảm dần</a>
                      &nbsp;||&nbsp;
                      <a href="javascript:getRooms(1,'rate','ASC')">Giá tăng dần</a>
                  </div>
              </div>
            </div>
            <div id="listRooms" class="reservation_content" style="margin-top: 0px;"></div>
        </div>
        <!-- END / CONTENT -->
    </div>
</div>

<?php // $this->inlineScript()->prependFile($this->serverUrl('/assets/js/home.js')) ?>