<!-- Modal content -->
<div class="modal-content">
    <div class="modal-header">
        <span class="close">&times;</span>
        <h2><?=$this->roomInfo->name?></h2>
    </div>
    <div class="modal-body">
        <div class="room-detail">
            <div class="row">
                <div class="col-lg-12">
                    <!-- LAGER IMGAE -->
                    <div class="room-detail_img">
                        <?php foreach ($this->roomInfo->images as $image): ?>
                            <div class="room_img-item">
                                <img src="<?=$image?>" alt="">    
                            </div>
                        <?php endforeach; ?>
                    </div>
                    <!-- END / LAGER IMGAE -->
                    <!-- THUMBNAIL IMAGE -->
                    <div class="room-detail_thumbs">
                        <?php foreach ($this->roomInfo->images as $image): ?>
                            <a href="#"><img src="<?=$image?>" alt=""></a>
                        <?php endforeach; ?>
                    </div>
                    <!-- END / THUMBNAIL IMAGE -->
                </div>
            </div>
        </div>
        <!--end room detail -->
        <!-- TAB -->
        <div class="room-detail_tab">
            <div class="row">
                <div class="col-md-3">
                    <ul class="room-detail_tab-header">
                        <li class="active"><a href="#overview" data-toggle="tab">Tổng Quan</a></li>
                        <li><a href="#amenities" data-toggle="tab">Thông Tin Phòng</a></li>
                    </ul>
                </div>     
                <div class="col-md-9">
                    <div class="room-detail_tab-content tab-content">
                        <!-- OVERVIEW -->
                        <div class="tab-pane fade in active" id="overview">
                            <div class="room-detail_overview">
                                <h5 class='text-uppercase'><?=$this->roomInfo->description?></h5>
                                <div class="row">
                                    <div class="col-xs-6 col-md-4">
                                        <h6>Số người ở mặc định:</h6>
                                        <ul>
                                            <li>Max: <?=$this->roomInfo->maxPax?></li>
                                            <li>Max Adult: <?=$this->roomInfo->maxAdult?></li>
                                            <li>Max Child: <?=$this->roomInfo->maxChild?></li>
                                        </ul>
                                    </div>
                                    <div class="col-xs-6 col-md-4">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / OVERVIEW -->

                        <!-- AMENITIES -->
                        <div class="tab-pane fade in" id="amenities">
                            <div class="room-detail_amenities">
                                <div class="row">
                                    <div class="col-xs-6 col-lg-4">
                                        <h6>Tiện ích.</h6>
                                        <ul>
                                            <?php foreach($this->roomInfo->amenities as $amenity) :?>
                                                <li><?=$amenity?></li>
                                            <?php endforeach;?>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END / AMENITIES -->
                    </div>
                </div>
            </div>
        </div>
        <!-- END / TAB -->
    </div>
</div>