<!-- Modal content -->
<div class="modal-content" style="width:60% !important">
    <div class="modal-header">
        <span class="close">&times;</span>
        <h2>Tìm Booking</h2>
    </div>
    <div class="modal-body" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="row">
            <div class="col-md-1">
            </div>
            
            <form id="searchBookingForm">
                <div class="availability-form">
                    <div class="col-md-4">
                        <label>Booking Code* :</label>
                        <input name="bookingCode" type="text" class="input-text" required>
                        <div class="invalid-feedback">Code không hợp lệ</div>
                    </div>
                    <div class="col-md-4">
                        <label>Email* :</label>
                        <input name="email" type="email" class="input-text" placeholder="email@example.com" required>
                        <div class="invalid-feedback">Email không hợp lệ</div>
                    </div>
                </div>
            </form>

            <div class="vailability-submit1 col-md-2">
                <a href="#" id="btnSearchBooking" class="awe-btn awe-btn-13">TÌM KIẾM</a>
            </div>
            
            <div class="col-sm-1">
            </div>
        </div>
    </div>
</div>
