<div class="reservation-page">
    <div class="row">
        <!-- SIDEBAR -->
        <div class="col-md-4 col-lg-3">
            <div class="reservation-sidebar">
                <!-- ROOM SELECT -->
                <div class="reservation-date alert alert-info">
                    <h2 class="reservation-heading">Lưu Ý Từ Khách Sạn</h2>
                    <p style="margin-top: 10px;">Instructions:</p>
                    <p>Extra-person charges may apply and vary depending on property policy.<br>
                        Government-issued photo identification and a credit card, debit card, or cash deposit are required at check-in for incidental charges.<br>
                        Special requests are subject to availability upon check-in and may incur additional charges. Special requests cannot be guaranteed.</p>
                    <ul>
                        <li>No onsite parking is available.</li>
                    </ul>
                    <p>Special:</p>
                    <p>24-hour airport shuttle service is available on request. Fees may apply. Contact the property in advance to get details.</p>
                </div>
                <!-- END / ROOM SELECT -->

            </div>

        </div>
        <!-- END / SIDEBAR -->

        <!-- CONTENT -->
        <div class="col-md-8 col-lg-9">
            <div class="reservation_content">
                <div class="reservation-confirm-booking">
                    <h4>Xác Nhận Đặt Phòng</h4>
                    <label>Mã Đặt Phòng: <span><?=$this->myBooking->bookingCode?></span></label>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Ngày nhận phòng: <span><?=$this->myBooking->rooms->checkin?></span></p>
                        </div>
                        <div class="col-sm-6">
                            <p>Trạng thái: <span><?=$this->myBooking->bookingStatus?></span></p>
                        </div>
                        <div class="col-sm-6">
                            <p>Ngày trả phòng: <span><?=$this->myBooking->rooms->checkout?></span></p>
                        </div>
                        <div class="col-sm-6">
                            <p>Tổng tiền: <span><?= formatNumber($this->myBooking->rooms->rate->totals->value)?> <?=$this->myBooking->rooms->rate->totals->currency?></span></p>
                        </div>
                    </div>
                    <label>Thông tin khách sạn:</label>
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="assets/images/room/detail/larger/img-2.jpg">
                        </div>
                        <div class="col-sm-6">
                            <h5 class="text-uppercase"><?=$this->myBooking->hotel->name?></h5>
                            <p>Địa chỉ: <?=$this->myBooking->hotel->address->line1?></p>
                            <p>City: <?=$this->myBooking->hotel->address->city?></p>
                            <p>Phone: XXXXX</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <label>Phòng:</label>
                            <ul>
                                <li><?=$this->myBooking->rooms->name?></li>
                            </ul>
                        </div>
                        <!--
                        <div class="col-sm-12 col-md-12">
                            <label>Bổ sung:</label>
                            <ul>
                                <li>Free wifi</li>
                            </ul>
                        </div>
                        -->
                    </div>
                    <label>Thông tin khách:</label>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Phòng</th>
                                    <th>Họ Tên</th>
                                    <th>Email</th>
                                    <th>Số Di Động</th>
                                </tr>
                            </thead>
                            <tr>
                                <td rowspan="2"><p>1</p></td>
                                <td>Mr A</td>
                                <td>mra@gmail.com</p></td>
                                <td>0123456789</p></td>
                            </tr>
                            <tr>
                                <td>Mrs A</td>
                                <td>mrsa@gmail.com</td>
                                <td>0123456789</td>
                            </tr>
                            <tr>
                                <td rowspan="2"><p class="price">2</p></td>
                                <td>Mr B</td>
                                <td>mra@gmail.com</td>
                                <td>0123456789</td>
                            </tr>
                            <tr>
                                <td>Mrs B</td>
                                <td>mrsa@gmail.com</td>
                                <td>0123456789</td>
                            </tr>
                        </table>
                    </div>
                    <label>Thông tin thanh toán:</label>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Họ Tên</th>
                                    <th>Email</th>
                                    <th>Số Di Động</th>
                                    <th>Hình Thức Thanh Toán</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Mr A</td>
                                <td>mra@gmail.com</td>
                                <td>0123456789</td>
                                <td>Credit Card</td>
                            </tr>
                        </table>
                    </div>
                    <a href="<?=$this->serverUrl().'/booking/'.$this->layout()->hotelInfo->hotelKey?>" class="awe-btn awe-btn-14">Quay Lại Trang Chủ</a>
                </div>
            </div>
        </div>
        <!-- END / CONTENT -->

    </div>
</div>

<?php // $this->inlineScript()->prependFile($this->serverUrl('/assets/js/home.js')) ?>