<!-- RESERVATION ROOM -->
<div class="reservation-room">
    <?php if (empty($this->rooms)) :?>
        <div class="reservation-room_package-content text-center">Không tìm thấy phòng thích hợp.</div>
    <?php else:?>
        <?php foreach ($this->rooms as $room): ?>
          <!-- ITEM -->
          <div class="reservation-room_item">


              <div class="reservation-room_img">
                  <a href="#"><img src="<?=$room->imgs?>" alt="" style="height: 250px!important"></a>
              </div>

              <div class="reservation-room_text">

                  <div class="reservation-room_desc">
                      <h2 class="reservation-room_name"><?=$room->roomName?></h2>

                      <ul>
                        <?php foreach ($room->amenities as $key => $amenity): ?>
                          <li><?=$amenity?></li>
                        <?php if ($key > 2){ echo '<li>...</li>'; break;} ?>
                        <?php endforeach;?>
                      </ul>
                  </div>

                  <a href="javascript:roomInfo(<?=$room->roomTypeCode?>)" class="reservation-room_view-more">Chi Tiết Phòng</a>

                  <div class="clear"></div>

                  <p class="reservation-room_price">
                      <span class="reservation-room_amout"><?= formatNumber($room->rateInfo->total, 2)?><sup>vnđ</sup></span> / đêm
                  </p>

                  <a href="<?=$this->url('reservationForm').'?code='.$this->requestInfo.'&rT='.$room->roomTypeCode?>" class="awe-btn awe-btn-default" target="_blank">ĐẶT PHÒNG</a>

              </div>

              <div class="reservation-room_package">
              </div>

          </div>
          <!-- END / ITEM -->
        <?php endforeach; ?>
    <?php endif;?>
</div>
<!-- END / RESERVATION ROOM -->